<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connectdb</servlet-name>
        <servlet-class>connectdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginvalid</servlet-name>
        <servlet-class>loginvalid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbankdb</servlet-name>
        <servlet-class>addbankdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferdb</servlet-name>
        <servlet-class>transferdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutlogic</servlet-name>
        <servlet-class>logoutlogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionslogic</servlet-name>
        <servlet-class>transactionslogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profiledata</servlet-name>
        <servlet-class>profiledata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetpassword</servlet-name>
        <servlet-class>resetpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>balance</servlet-name>
        <servlet-class>balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyans</servlet-name>
        <servlet-class>verifyans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifybank</servlet-name>
        <servlet-class>verifybank</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connectdb</servlet-name>
        <url-pattern>/connectdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginvalid</servlet-name>
        <url-pattern>/loginvalid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbankdb</servlet-name>
        <url-pattern>/addbankdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferdb</servlet-name>
        <url-pattern>/transferdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutlogic</servlet-name>
        <url-pattern>/logoutlogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionslogic</servlet-name>
        <url-pattern>/transactionslogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profiledata</servlet-name>
        <url-pattern>/profiledata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetpassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyans</servlet-name>
        <url-pattern>/verifyans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifybank</servlet-name>
        <url-pattern>/verifybank</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
